@font-face {
  font-family: 'Get Schwifty';
  src: url('/get_schwifty.ttf') format('truetype');
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f5f5f5;
  margin: 0;
  min-height: 100vh;
  background-color: #0b1118;
  background-image: url('/pexels-umkreisel-app-956981.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
